
<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
    	<h1 class="titleber">Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>!</h1>
    </div>
</div>
</div>